.app-container {
  display: flex;
  flex-direction: column; /* 컬럼 방향으로 정렬 */
  justify-content: center;
  align-items: center;
  gap: 10px; /* 컴포넌트 간 간격 */
  height: 900px; /* 전체 높이 조정 */
}

.tab-menu {
  display: flex; /* 탭 메뉴를 가로로 정렬 */
  gap: 10px; /* 버튼 간 간격 */
}

.tab-menu button {
  padding: 10px;
  width: 100px;
  background: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff; /* 버튼 글자색 변경 */
}

.tab-menu button.active {
  background: #45a049;
}

.outer-div {
  height: 300px;
}